body
{
    background-color: rgb(32, 32, 32);
}

.header
{   
    padding: 20px 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255));
    z-index: 9999;
     
}

.menu a.homebutton:hover, a.homebutton:active {color: rgb(237, 217, 83)} 

.menu a.aboutbutton:hover, a.aboutbutton:active {color: rgb(237, 217, 83)} 

.sitetitle
{
    font-weight: bold;
    padding: 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sitelogo
{
    display: flex;
    width: -10%;
    height: -10%;

}

.sitelogopic
{
    animation-name: logoanim;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes logoanim
{
    0%
    {
        transform: scaleX(1);
    }
    50%
    {
        transform: scaleX(1.2);
    }
    100%
    {
        transform: scaleX(1);
    }
}

.menu
{
    color: gray;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    display: flex;
    gap: 30px;
    align-items: center;
}

.hireme
{
    background-color: rgb(44, 154, 214);
    padding: 10px 20px;
    color: white;
}

.herocontainer
{
    padding: 185px 200px 100px;
    display: flex;
    align-items: center;
    
}

.tigerprofile
{
    border-radius: 7%;
}

.minitigerprofile
{
    position: absolute;
    left: 100px;
    top: 250px;
    border-radius: 30%;
}

.heropics
{
    width: 40%;
}

.herotexts
{
    width: 60%;
}

.mainherotxt
{
    font-size: 150px;
    color: azure;
}

.subherotxt
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: rgb(26, 255, 217);
}


.resume,
.contact
{
    padding: 20px 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: 170%;
    
}

.resume
{
    background-color: rgb(44, 154, 214);
    margin: 20px 20px;
    color: white;
}

.contact
{
    background-color: rgb(164, 164, 164);
    margin: 20px 20px;
    color: rgb(89, 89, 89);
}

.about {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.aboutmepic {
    width: 100%;
}
.abtmebg {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    display: block;
}
.aboutmetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}